@page
@model IndexModel
@{
    ViewData["Title"] = "App Deployment";
}

<div class="text-center">
    <style>
        body {
            background-color: lightblue;
        }            
    </style>
    <h1 class="display-4">Welcome to Azure Labs</h1>
    <h2 class="display-2">Prod web app deployment</h2>
 

    <p>Building Web apps with ASP.NET Core</p>
</div>
